.summaryWrapper {
    width: 97.3%;
    padding-top: 2em;
    margin-top: 2.5em;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 86vh;
    padding-left: 1.5em;
}

.hideCursor :nth-child(2) {
    display: none;
}

.noData {
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;
}