.chatWrapper {
    width: 100%;
    background: #FFF;
    padding-top: 0;
}

.messagePanel {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chatMessageGpt {
    margin-bottom: 20px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 250px;
}

.messageDisplay {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.userQuestion {
    min-width: 40%;
    max-width: 60%;
    flex-shrink: 0;
    align-self: flex-end;
    border-radius: 12px;
    background-color: #E0DFFF;
    padding: 15px;
    border-bottom-left-radius: 0px;
}

.chatAnswer {
    background: white;
    min-width: 40%;
    max-width: 60%;
    flex-shrink: 0;
    align-self: flex-start;
    padding: 15px;
    border-radius: 12px;

    border-bottom-right-radius: 0px;
}

.chatContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-left: 2px solid #C8C8FF;
    background: #F8F7FF;
    margin-top: 1em;

}

.chatPanel {
    flex: 1;
    overflow-y: auto;
}

.messageContainer {
    display: flex;
    flex-direction: column !important;
    padding: 0 16px 0 16px;
    margin-bottom: 16px;
}

.message {
    margin-bottom: 20px;
}

.questionPanel {
    padding: 16px;
}

.userMessage {
    text-align: right;
}

.messageText {
    background-color: #E0DFFF;
    padding: 8px;
    border-radius: 12px;
}

.questionInputButtonsContainer {
    display: flex;
}

.questionInputSendButton {
    cursor: pointer;
}

.sendIcon {
    width: 32px;
    height: 34px;
}

.textFieldContainer {
    display: flex;
    height: 80%;
    align-items: center;
    margin-right: 15px;
}

.questionInputTextAreaDisLike {
    background: #E1E0FF;
    color: #fff;
    width: 100%;
    height: 100%;
    line-height: 40px;
    border-radius: 12px;
}

.questionInputDislikeContainer {
    border-radius: 12px;
    background: #E1E0FF;
}